@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

/*--------------------------------- Inserts------*/

hr {
  border-top: 1px solid #777777;
  width: 100%;
  margin: 5px 0;
}

h2 {
  font-family: oswald,lato;
  letter-spacing: 4px;
  color: #555555;

}

h5 {
  font-family: oswald,lato;
  letter-spacing: 4px;
  color: #555555;

}

body, p {
  font-family: lato;
  color: #777777
}

/*--------------------------------- Navbar------*/

nav {
   z-index: 3;
}

.navbar-brand {
  font-family: 'oswald', sans-serif !important;
  font-size: 50px !important;
  margin: 0px !important;
  letter-spacing: 4px !important;

}

.navbar-light .navbar-brand {
    color: rgba(85,85,85.9) !important;
}

/*--------------------------------- Welcome------*/

#welcome-image {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from {
        transform: scale(0.9);
  }
  to{
    transform: scale(1);
  }
}

/*----------------------------------btmtl-------*/
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    max-height: 400px;
    height: auto;
}

/*----------------------------------Mixes-------*/


/*----------------------------------Forms-------*/

#form-header {    
    margin-bottom: 4rem;
    margin-top: 5rem;
}

/*----------------------------------Footer-------*/

footer {
  height: 150px;
}

.social-media {
  text-align: center
}

.social-media li {
  display: inline;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #777777
}

/*----------------------------------Gallery-------*/

/* #gallery-photos, img {

     width: 100%;
     height: 325px;
     }

@media screen and(max-width: 800px){
  #gallery-photos {
    height: 100%;
  }
} */
    
.gallery-image {
    width: 100%;
    max-height: 325px;
    vertical-align: baseline;
    object-fit: cover;
}

/*----------------------------------About-------*/

.bgimg-1 {
    background-image: url(../images/IMG_20180405_073952_958.jpg);
    min-height: 100%;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
    background-image: url(../images/IMG-20180512-WA0004.jpg);
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-3 {
    background-image: url(../images/IMG-20180512-WA0002.jpg);
    min-height: 100%;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-4 {
    background-image: url(../images/IMG-20190422-WA0003.jpg);
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-5 {
    background-image: url(../images/20180713_205041.jpg);
    min-height: 100%;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.biography {
    color: #777;
    background-color:white;
}

.caption h2.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}


